<?xml version="1.0"?>
<robot name="Omnibot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find omni_description)/urdf/common_properties.xacro" />

    <link name="base_footprint" />
	
	<joint name="base_joint" type="fixed">
		<parent link="base_footprint"/>
		<child link="base_link"/>
		<origin xyz="0.0 0.0 ${0.01905*scale}" rpy="0 0 0"/>
	</joint>

    <link name="base_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="package://omni_description/meshes/base/body.stl" scale="${scale} ${scale} ${scale}"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="package://omni_description/meshes/base/body.stl" scale="${scale} ${scale} ${scale}"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="${0.07862944645 * scale}"/>
            <inertia ixx="${0.00002035985530754 * scale * scale}" ixy="0.0" ixz="0.0"
                     iyy="${0.00002035985530754 * scale * scale}" iyz="0.0"
                     izz="${0.00003945961663220 * scale * scale}"/>
        </inertial>
    </link>

	<xacro:include filename="$(find omni_description)/urdf/rim.xacro" />
	<xacro:include filename="$(find omni_description)/urdf/roller.xacro" />
    
</robot>